# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
*.tlog
*.idb
*.pdb
*.vcxproj
*.filters
*.bak_000f
*.bak_001d
*.bak_002d
*.bmp
*.png
*.svg
*.db
*.jpg
UML/NzTDproject.vpp.bak_003d
UML/NzTDproject.vpp.bak_004d
UML/NzTDproject.vpp.bak_005d
UML/NzTDproject.vpp.bak_006d
UML/NzTDproject.vpp.bak_007d
UML/NzTDproject.vpp.bak_008d
UML/NzTDproject.vpp.bak_009d
UML/NzTDproject.vpp.bak_010d
UML/NzTDproject.vpp.bak_011d
UML/NzTDproject.vpp.bak_012d
UML/NzTDproject.vpp.bak_013d
UML/NzTDproject.vpp.bak_014d
Debug/RCa07020
Debug/RCa11924
Documentation/Cdc.docx
Documentation/Nouveau document texte.txt
NazaraProject.aps
packages.config
